body {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* Navbar */

.navbar {
    background-color: #8000ff;
}

.navbar a {
    color: #fff;
}

.about-section {
    color: #fff;
    padding: 3%, 15%, 5%;
}

.about-ruler {
    border-top: 2px solid #fff;
}

/* Projects Section */

#projects {
    
}

/* Content Section */

.content-image-div {
    padding: 20px;
}

.content-image {
    width: 35%;
    border-radius: 50%;
    
}

.content-image-text {
    padding-bottom: 20px;
}

.resume-download-button {
    background-color: #8000ff;
}